/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
@import '../../node_modules/materialize-css/sass/materialize.scss';

$brand-list: as765, cinderella, million, sidem, shiny;
$attr-list: flower, fire, snow, heaven, rainbow, light, ocean, darkness, sky, wind, moon, dream, thunder, star, love;

$colors: (
  as765-main: #eb5673,
  as765-sub: #fcd7de,
  cinderella-main: #3a82c9,
  cinderella-sub: #d0e6f9,
  //million-main: #f9c100, アイドル名の読みやすさ優先で色調整
  million-main: #f9a000,
  million-sub: #f3ecd2,
  //sidem-main: #47c299,
  sidem-main: #47c271,
  sidem-sub: #d2eae3,
  shiny-main: #74a4fd,
  shiny-sub: #d8e1f1,
  attr-flower: #f78abb,
  attr-fire: #f1a419,
  attr-snow: #63c9fe,
  attr-heaven: #f56f0e,
  attr-rainbow: #da2826,
  attr-light: #facc00,
  attr-ocean: #3b64be,
  attr-darkness: #6b4879,
  attr-sky: #949bb2,
  attr-wind: #3ab862,
  attr-moon: #5f90ff,
  attr-dream: #bbbfca,
  attr-thunder: #f9bd26,
  attr-star: #f8a000,
  attr-love: #da4443,
  attr-checked: #74a4fd,
  attr-unchecked: #edeef4,
);

@function colors($key) {
  @return map-get($colors, $key);
}

//===========
// ページ全体
//===========
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
label {
  font-size: 1rem;
  color: black;
}

//=============
// ブランド選択
//=============
.col.col-brand {
  padding: 0.25rem;
}

// ブランドボタン
.btn-brand {
  @extend .btn-small;
  width: 100%;
  height: auto;
  white-space: nowrap; // 改行防止
  overflow: hidden; // はみ出る場合は途切れさせる
  padding: 0.1rem;
  font-weight: bold;
  text-transform: none; // SideM表記のために小文字許可
  user-select: none;
}

// ブランドチェック状態（白文字 + メインカラー背景）
@each $brand in $brand-list {
  .check-brand:checked + .btn-brand-#{$brand},
  .check-brand:not(:checked) + .btn-brand-#{$brand}:hover {
    border: 2px solid colors(#{$brand}-main);
    background-color: colors(#{$brand}-main);
    color: white;
  }
  .check-brand:not(:checked) + .btn-brand-#{$brand} {
    border: 2px solid colors(#{$brand}-main);
    background-color: colors(#{$brand}-sub);
    color: colors(#{$brand}-main);
  }
}

//=========
// 属性選択
//=========
.flex-row {
  display: flex;
  align-items: center;
}

.text-attr {
  width: 4rem;
}

.flex-attr {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.col-attr {
  padding: 0.15rem;
}

.check-attr:checked + .btn-attr,
.check-attr:not(:checked) + .btn-attr:hover {
  background-color: colors(attr-checked);
}
.check-attr:not(:checked) + .btn-attr {
  background-color: colors(attr-unchecked);
}

.btn-attr {
  @extend .btn-small;
  width: 32.4px; // btn-smallの高さに合わせて正方形にする
  padding: 0 0;
  user-select: none;
  font-size: 20px;
  text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white, -1px -1px 0 white,
    0 -1px 0 white, 1px -1px 0 white, 2px 0 0 white, 0 2px 0 white, -2px 0 0 white, 0 -2px 0 white;
}
@each $attr in $attr-list {
  .btn-attr-#{$attr} {
    color: colors(attr-#{$attr});
  }
}

//================
// ユニットテーブル
//================
// チェックボックスのテキスト位置合わせ
// materialize-cssのデフォルトだとチェックボックスとテキストの水平が合わないためはずれるため
[type='checkbox'].filled-in:checked + span:not(.lever):before,
[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after,
[type='checkbox'].filled-in:checked + span:not(.lever):after {
  top: 3px;
}
[type='checkbox'].filled-in:checked + span:not(.lever):after {
  background-color: colors(attr-checked); // 属性の選択色とチェックボックスの色を合わせる
}
[type='checkbox'] + span:not(.lever) {
  padding-left: 25px; // チェックボックスとテキストが離れすぎのため詰める
}

// 画面幅が狭い時に途切れないように横スクロールにする
.scroll-table-wrapper {
  overflow-x: scroll;
}
.scroll-table {
  width: 100%;
}
.unit-table {
  @extend .indigo, .lighten-5, .striped;
}

td,
th {
  padding: 0.8rem 0.5rem;
}

// アイドル名列はある程度の幅を確保、ステータスは詰める
.th-idol {
  min-width: 10rem;
}
.th-status {
  min-width: 1rem;
}

// テーブルヘッダーをボタン化
.btn-th,
.btn-th:hover {
  @extend .btn-flat;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0;
  background-color: none;
  user-select: none;
  font-size: 0.8rem;
}

// ソート用の昇順・降順アイコン
.btn-th i.icon-sort {
  font-size: 0.8rem; // ボタン内のアイコンフォントサイズはmaterialize-cssで定義されているため上書き
}
.icon-sort-active {
  color: black;
}
.icon-sort-deactive {
  color: lightgray;
}

// アイドル名をブランドカラーにする
@each $brand in $brand-list {
  .text-brand-#{$brand} {
    color: colors(#{$brand}-main);
  }
}

// 属性を楕円で囲む
.text-attr-background {
  display: inline-block;
  width: 3em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 40%;
  background-color: gainsboro;
}

@each $attr in $attr-list {
  .text-attr-#{$attr} {
    color: colors(attr-#{$attr});
    text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white, -1px -1px 0 white,
      0 -1px 0 white, 1px -1px 0 white;
  }
}
