/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
@import '../../node_modules/materialize-css/sass/materialize.scss';

$colors: (
  765as-main: #eb5673,
  765as-sub: #fcd7de,
  cinderella-main: #3a82c9,
  cinderella-sub: #d0e6f9,
  //million-main: #f9c100,
  million-main: #f9a000,
  million-sub: #f3ecd2,
  //sidem-main: #47c299,
  sidem-main: #47c271,
  sidem-sub: #d2eae3,
  shiny-main: #74a4fd,
  shiny-sub: #d8e1f1,
  attr-flower: #f78abb,
  attr-fire: #f1a419,
  attr-snow: #63c9fe,
  attr-heaven: #f56f0e,
  attr-rainbow: #da2826,
  attr-light: #facc00,
  attr-ocean: #3b64be,
  attr-darkness: #6b4879,
  attr-sky: #949bb2,
  attr-wind: #3ab862,
  attr-moon: #5f90ff,
  attr-dream: #bbbfca,
  attr-thunder: #f9bd26,
  attr-star: #f8a000,
  attr-love: #da4443
);

@function colors($key) {
  @return map-get($colors, $key);
}

// ページ全体
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.label {
  font-size: 1rem;
}

// ブランド
.col.col-brand {
  padding: 0.25rem;
}

.btn-brand {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.1rem;
  font-weight: bold;
  text-transform: none;
  user-select: none;
}

.check-brand:checked + .btn-brand-765as,
.check-brand:not(:checked) + .btn-brand-765as:hover {
  border: 2px solid colors(765as-main);
  background-color: colors(765as-main);
  color: white;
}
.check-brand:not(:checked) + .btn-brand-765as {
  border: 2px solid colors(765as-main);
  background-color: colors(765as-sub);
  color: colors(765as-main);
}

.check-brand:checked + .btn-brand-cinderella,
.check-brand:not(:checked) + .btn-brand-cinderella:hover {
  border: 2px solid colors(cinderella-main);
  background-color: colors(cinderella-main);
  color: white;
}
.check-brand:not(:checked) + .btn-brand-cinderella {
  border: 2px solid colors(cinderella-main);
  background-color: colors(cinderella-sub);
  color: colors(cinderella-main);
}

.check-brand:checked + .btn-brand-million,
.check-brand:not(:checked) + .btn-brand-million:hover {
  border: 2px solid colors(million-main);
  background-color: colors(million-main);
  color: white;
}
.check-brand:not(:checked) + .btn-brand-million {
  border: 2px solid colors(million-main);
  background-color: colors(million-sub);
  color: colors(million-main);
}

.check-brand:checked + .btn-brand-sidem,
.check-brand:not(:checked) + .btn-brand-sidem:hover {
  border: 2px solid colors(sidem-main);
  background-color: colors(sidem-main);
  color: white;
}
.check-brand:not(:checked) + .btn-brand-sidem {
  border: 2px solid colors(sidem-main);
  background-color: colors(sidem-sub);
  color: colors(sidem-main);
}

.check-brand:checked + .btn-brand-shiny,
.check-brand:not(:checked) + .btn-brand-shiny:hover {
  border: 2px solid colors(shiny-main);
  background-color: colors(shiny-main);
  color: white;
}
.check-brand:not(:checked) + .btn-brand-shiny {
  border: 2px solid colors(shiny-main);
  background-color: colors(shiny-sub);
  color: colors(shiny-main);
}

// 属性
.flex-row {
  display: flex;
  align-items: center;
}

.text-attr {
  width: 4rem;
}

.flex-attr {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.col-attr {
  padding: 0.15rem;
}

.check-attr:checked + .btn-attr,
.check-attr:not(:checked) + .btn-attr:hover {
  background-color: colors(shiny-main);
}
.check-attr:not(:checked) + .btn-attr {
  background-color: #edeef4;
}

// .text-attr-back {
//   font-size: 22px;
//   stroke: white;
//   stroke-width: 1px;
// }
// .text-attr-front {
//   font-size: 22px;
//   fill: colors(attr-flower);
// }

.btn-attr {
  @extend .btn;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0 0;
  user-select: none;
  font-size: 20px;
  text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white, -1px -1px 0 white,
    0 -1px 0 white, 1px -1px 0 white, 2px 0 0 white, 0 2px 0 white, -2px 0 0 white, 0 -2px 0 white;
}

.btn-attr-flower {
  color: colors(attr-flower);
}
.btn-attr-fire {
  color: colors(attr-fire);
}
.btn-attr-snow {
  color: colors(attr-snow);
}
.btn-attr-heaven {
  color: colors(attr-heaven);
}
.btn-attr-rainbow {
  color: colors(attr-rainbow);
}
.btn-attr-light {
  color: colors(attr-light);
}
.btn-attr-ocean {
  color: colors(attr-ocean);
}
.btn-attr-darkness {
  color: colors(attr-darkness);
}
.btn-attr-sky {
  color: colors(attr-sky);
}
.btn-attr-wind {
  color: colors(attr-wind);
}
.btn-attr-moon {
  color: colors(attr-moon);
}
.btn-attr-dream {
  color: colors(attr-dream);
}
.btn-attr-thunder {
  color: colors(attr-thunder);
}
.btn-attr-star {
  color: colors(attr-star);
}
.btn-attr-love {
  color: colors(attr-love);
}

// テーブル内の属性
[type='checkbox'].filled-in:checked + span:not(.lever):after {
  background-color: colors(shiny-main);
}

.scroll-table-wrapper {
  overflow-x: scroll;
}
.scroll-table {
  width: 100%;
}

td,
th {
  padding: 0.8rem 0.5rem;
}

.th-idol {
  min-width: 10rem;
}
.th-status {
  min-width: 1rem;
}

.btn-th {
  @extend .btn-flat, .btn-small;
  background-color: none;
  user-select: none;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0;
}
.btn-th:hover {
  @extend .btn-th;
}
.btn i.icon-sort {
  font-size: 0.8rem;
}
.icon-sort-active {
  color: black;
}
.icon-sort-deactive {
  color: lightgray;
}

.text-brand-765as {
  color: colors(765as-main);
}
.text-brand-cinderella {
  color: colors(cinderella-main);
}
.text-brand-million {
  color: colors(million-main);
}
.text-brand-sidem {
  color: colors(sidem-main);
}
.text-brand-shiny {
  color: colors(shiny-main);
}

.text-attr-background {
  display: inline-block;
  background-color: gainsboro;
  width: 3em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 40%;
}

@mixin text-attr($attr-color) {
  color: colors($attr-color);
  text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white, -1px -1px 0 white,
    0 -1px 0 white, 1px -1px 0 white;
}

.text-attr-flower {
  @include text-attr(attr-flower);
}
.text-attr-fire {
  @include text-attr(attr-fire);
}
.text-attr-snow {
  @include text-attr(attr-snow);
}
.text-attr-heaven {
  @include text-attr(attr-heaven);
}
.text-attr-rainbow {
  @include text-attr(attr-rainbow);
}
.text-attr-light {
  @include text-attr(attr-light);
}
.text-attr-ocean {
  @include text-attr(attr-ocean);
}
.text-attr-darkness {
  @include text-attr(attr-darkness);
}
.text-attr-sky {
  @include text-attr(attr-sky);
}
.text-attr-wind {
  @include text-attr(attr-wind);
}
.text-attr-moon {
  @include text-attr(attr-moon);
}
.text-attr-dream {
  @include text-attr(attr-dream);
}
.text-attr-thunder {
  @include text-attr(attr-thunder);
}
.text-attr-star {
  @include text-attr(attr-star);
}
.text-attr-love {
  @include text-attr(attr-love);
}
