<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PopUnit</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- ブランド選択 -->
  <div class="container">
    <div class="row">
      <div class="col col-brand s6 m4 l2 offset-l1">
        <input type="checkbox" class="check-brand" value="765AS">
        <label class="btn-small btn-brand btn-brand-765as" >アイドルマスター</label>
      </div>
      <div class="col col-brand s6 m4 l2">
        <input type="checkbox" class="check-brand" value="シンデレラガールズ">
        <label class="btn-small btn-brand btn-brand-cinderella" >シンデレラガールズ</label>
      </div>
      <div class="col col-brand s6 m4 l2">
        <input type="checkbox" class="check-brand" value="ミリオンライブ">
        <label class="btn-small btn-brand btn-brand-million" >ミリオンライブ</label>
      </div>
      <div class="col col-brand s6 m4 l2">
        <input type="checkbox" class="check-brand" value="SideM">
        <label class="btn-small btn-brand btn-brand-sidem" >SideM</label>
      </div>
      <div class="col col-brand s6 m4 l2">
        <input type="checkbox" class="check-brand" value="シャイニーカラーズ">
        <label class="btn-small btn-brand btn-brand-shiny" >シャイニーカラーズ</label>
      </div>
    </div>
  </div>

  <!-- 属性選択 -->
  <div class="container flex-row">
    <div class="label-attr">
      属性1
    </div>
    <div class="flex-attr">
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="flower"><label class="btn-attr">花</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="fire"><label class="btn-attr">炎</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="snow"><label class="btn-attr">雪</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="heaven"><label class="btn-attr">天</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="rainbow"><label class="btn-attr">虹</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="light"><label class="btn-attr">光</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="ocean"><label class="btn-attr">海</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="darkness"><label class="btn-attr">闇</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="sky"><label class="btn-attr">空</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="wind"><label class="btn-attr">風</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="moon"><label class="btn-attr">月</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="dream"><label class="btn-attr">夢</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="thunder"><label class="btn-attr">雷</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="star"><label class="btn-attr">星</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr1" value="love"><label class="btn-attr">愛</label></div>
    </div>
  </div>
  <div class="container flex-row">
    <div class="label-attr">
      属性2
    </div>
    <div class="flex-attr">
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="flower"><label class="btn-attr">花</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="fire"><label class="btn-attr">炎</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="snow"><label class="btn-attr">雪</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="heaven"><label class="btn-attr">天</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="rainbow"><label class="btn-attr">虹</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="light"><label class="btn-attr">光</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="ocean"><label class="btn-attr">海</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="darkness"><label class="btn-attr">闇</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="sky"><label class="btn-attr">空</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="wind"><label class="btn-attr">風</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="moon"><label class="btn-attr">月</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="dream"><label class="btn-attr">夢</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="thunder"><label class="btn-attr">雷</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="star"><label class="btn-attr">星</label></div>
      <div class="col-attr"><input type="checkbox" class="check-attr" name="check-attr2" value="love"><label class="btn-attr">愛</label></div>
    </div>
  </div>

  <div class="container sortable-table">
    <table id="idol_table">
      <thead>
        <tr>
          <th data-id="idol1">アイドル1</th>
          <th data-id="idol2">アイドル2</th>
          <th data-id="idol3">アイドル3</th>
          <th data-id="Vo" sortable>Vo</th>
          <th data-id="Da" sortable>Da</th>
          <th data-id="Vi" sortable>Vi</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  </body>
</html>
